/* Reset básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', 'BlinkMacSystemFont, Roboto, sans-serif';
    color: #333;
    background-color: #fff;
}

h2 {
    margin: 1em 0;
    text-align: center;
}


/* Cabeçalho */
.cabecalho {
    background-color: #000; 
    color: #fff;
    padding: 0.625em 1.25em; 
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.logo img {
    height: 6.25em; 
}

.navegacao {
    margin-right: 1.25em;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-left: 1.25em; 
}

.navegacao ul {
    list-style: none;
    display: flex;
    margin-right: 45em;
}

.navegacao li {
    margin: 0 0.625em; 
}

.navegacao a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}

.navegacao a:hover {
    text-decoration: underline;
}

/* Botão de Sair e Nome do Usuário */
.user-info {
    display: flex;
    align-items: center;
    position: absolute;
    right: 8em; 
}

.btn-sair {
    background-color: #b2ff59; 
    color: #000;
    font-weight: bold;
    border: none;
    border-radius: 0.625em; 
    padding: 0.625em 1.25em; 
    font-size: 1em;
    cursor: pointer;
}

.btn-sair:hover {
    background-color: #9dff57; 
    transform: scale(1.05);
}

/* Responsividade */
@media (max-width: 768px) {
    .cabecalho {
        flex-direction: column;
        align-items: flex-start;
    }

    .navegacao ul {
        flex-direction: column;
        align-items: flex-start;
    }

    .user-info {
        position: static;
        margin-top: 1em;
    }

    .grid-container {
        grid-template-columns: 1fr;
    }
}