/* Rodapé */
.footer {
    background-color: #1f2914; 
    color: #fff;
    padding: 1.25em; 
    text-align: center;
}

.links-footer {
    margin-bottom: 0.625em; 
}

.link-footer {
    color: #fff;
    text-decoration: none;
    margin: 0 0.625em;
}

.link-footer:hover {
    text-decoration: underline;
}

.store-icons {
    margin-bottom: 0.625em; 
}

.icone-store {
    height: 1.875em; 
    margin: 0 0.3125em;
}


